{% extends 'blog/base.html' %}

<!--JUMBTRON-->
{% block jumbotron %}
{% include 'blog/jumbotron.html'  %}
{% endblock jumbotron  %}
<!--END JUMBTRON-->

<!--POSTS-->
{% block postes %}
{% include 'blog/posts.html'  %}
{% endblock postes %}
<!--END POSTS-->


<!--RIGHT BAR-->
{% block rightbar %}
<!--LASTES POSTS-->


{% include 'blog/last-posts.html'  %}
<!--TAGS & NEWSLATTER-->
{% include 'blog/tags.html'  %}

{% endblock rightbar %}
<!--END RIGHT BAR-->


<!--TEAM-->
{% block ourteam %}
{% include 'blog/team.html'  %}
{% endblock ourteam %}
<!--END TEAM-->

<!--ENEMATION JAVASCRIPT-->
{% block buttonjs %}
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"
    title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fas fa-eject"></i></a>
{% endblock buttonjs %}