@font-face {
    font-family: 'Abril_Fatface';
    src: url('../fonts/Abril_Fatface/AbrilFatface-Regular.ttf') format("truetype"),
    local('Abril_Fatface');
}
@font-face {
    font-family: 'Amatic_SC';
    src: url('../fonts/Amatic_SC/AmaticSC-Bold.ttf') format("truetype"),
    local('Amatic_SC');
}
@font-face {
    font-family: 'Dancing_Script';
    src: url('../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf') format("truetype"),
    local('Dancing_Script');
}
@font-face {
    font-family: 'Indie_Flower';
    src: url('../fonts/Indie_Flower/IndieFlower-Regular.ttf') format("truetype"),
    local('Indie_Flower');
}


*{
    font-family: 'Indie_Flower',sans-serif;
}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden; 
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

